// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.icon img{
    border-radius: 50%;
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
} 
.icon{
    padding-top : 50px;
    display: flex;
    justify-content: center;
}

h3{
    font-size-adjust: 30px;
    text-align: center 
}
p{
    text-align: center;
}
.profilebutton{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0);
}
.buttons{
    padding-top:50px;
}
